<!--
  Generated template for the ChemDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>성분 상세</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="chem">
    <!--<ion-list class="detail">-->
    <ion-item>
      <h1><a href="{{nameUrl}}">{{chem.name}}</a></h1>
    </ion-item>

    <ion-item>
      <h2>INS번호</h2>
      <h3 *ngIf="chem.ins != 'INS'" >{{chem.ins}}</h3>
      <h3 *ngIf="chem.ins == 'INS'" >  -  </h3>
    </ion-item>

    <ion-item>
      <h2>CAS번호</h2>
      <h3 *ngIf="chem.cas != 'CAS'" ><a href="{{casUrl}}">{{chem.cas}}</a></h3>
      <h3 *ngIf="chem.cas == 'CAS'" >  -  </h3>
    </ion-item>


    <ion-item class="nationlist" >
      <h2>국가별 식품 허용 정보</h2>
      <div class="nation">
        <div class="national"><h3>Korea</h3></div>
        <div class="national" *ngIf="chem.name">
          <img class="imgSize" src="assets/img/col_green.png">
        </div>
      </div>
      <!--</ion-item>-->

      <!--<ion-item>-->
      <div class="nation">
        <h3 class="national">Japan</h3>
        <div class="national" class="national" *ngIf="chem.japan == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </div>
        <div class="national" class="national" *ngIf="chem.japan == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </div>
        <div class="national" class="national" *ngIf="chem.japan == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </div>
      </div>
      <!--</ion-item>-->

      <!--<ion-item>-->
      <div class="nation">
        <h3 class="national">CODEX</h3>
        <div class="national" *ngIf="chem.codex == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </div>
        <div class="national" *ngIf="chem.codex == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </div>
        <div class="national" *ngIf="chem.codex == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </div>
      </div>
      <!--</ion-item>-->

      <!--<ion-item>-->
      <div class="nation">
        <h3 class="national">EU</h3>
        <div class="national" *ngIf="chem.eu == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </div>
        <div class="national" *ngIf="chem.eu == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </div>
        <div class="national" *ngIf="chem.eu == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </div>
      </div>
      <!--</ion-item>-->

      <!--<ion-item>-->
      <div class="nation">
        <h3 class="national">US</h3>
        <div class="national" *ngIf="chem.us == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </div>
        <div class="national" *ngIf="chem.us == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </div>
        <div class="national" *ngIf="chem.us == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </div>
      </div>
      <!--</ion-item>-->

      <!--<ion-item>-->
      <div class="nation">
        <h3 class="national">China</h3>
        <div class="national" *ngIf="chem.china == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </div>
        <div class="national" *ngIf="chem.china == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </div>
        <div class="national" *ngIf="chem.china == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </div>
      </div>
      <!--</ion-item>-->

      <!--<ion-item>-->
      <div class="nation">
        <h3 class="national">Australia</h3>
        <div class="national" *ngIf="chem.aus == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </div>
        <div class="national" *ngIf="chem.aus == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </div>
        <div class="national" *ngIf="chem.aus == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </div>
      </div>
    </ion-item>

    <!--</ion-list>-->
  </div>
  <h3>productList</h3>
  <ion-list *ngIf="productList">
    <ion-item *ngFor="let product of productList ">
      {{product.name}}
    </ion-item>
  </ion-list>
</ion-content>

