<ion-header>
  <ion-navbar>
    <ion-title>성분 상세</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="chem">
    <ion-item>
      <h1><a href="{{nameUrl}}">{{chem.name}}</a></h1>
<!--      <ion-avatar item-right *ngIf="chem.avg == 'A'">
        평균 : <img class="imgSize" src="assets/img/col_green.png">
      </ion-avatar>
      <ion-avatar item-right *ngIf="chem.avg == 'I'">
        평균 : <img class="imgSize" src="assets/img/col_yellow.png">
      </ion-avatar>
      <ion-avatar item-right *ngIf="chem.avg == 'B'">
        평균 : <img class="imgSize" src="assets/img/col_red.png">
      </ion-avatar>-->
    </ion-item>

    <ion-item *ngIf="chem.avg == 'A'">
      안심하고 섭취하셔도 괜찮아요.
      <ion-avatar item-right >
        평균<img class="imgSize" src="assets/img/col_green.png">
      </ion-avatar>
    </ion-item>

    <ion-item *ngIf="chem.avg == 'I'">
      섭취량에 주의 하세요.
      <ion-avatar item-right >
        평균<img class="imgSize" src="assets/img/col_yellow.png">
      </ion-avatar>
    </ion-item>

    <ion-item *ngIf="chem.avg == 'B'">
      섭취하지 마세요! 금지된 성분입니다.
      <ion-avatar item-right >
        평균<img class="imgSize" src="assets/img/col_red.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <h2>주 용도</h2>
      <h3>{{chem.type}}</h3>
    </ion-item>

    <ion-item>
      <h2>INS(국제 식품 첨가물 등록)번호</h2>
      <h3 *ngIf="chem.ins != 'INS'">{{chem.ins}}</h3>
      <h3 *ngIf="chem.ins == 'INS'"> - </h3>
    </ion-item>

    <ion-item>
      <h2>CAS번호</h2>
      <h3 *ngIf="chem.cas != 'CAS'"><a href="{{casUrl}}">{{chem.cas}}</a></h3>
      <h3 *ngIf="chem.cas == 'CAS'"> - </h3>
    </ion-item>
    <ion-list *ngIf="chem">
      <ion-list-header>국가/기관별 허용정보</ion-list-header>
      <ion-item *ngIf="chem.korea">
        Korea
        <ion-avatar item-right *ngIf="chem.korea == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.korea == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.korea == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </ion-avatar>
      </ion-item>

      <ion-item *ngIf="chem.us">
        U.S.A
        <ion-avatar item-right *ngIf="chem.us == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.us == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.us == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </ion-avatar>
      </ion-item>

      <ion-item *ngIf="chem.japan">
        Japan
        <ion-avatar item-right *ngIf="chem.japan == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.japan == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.japan == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </ion-avatar>
      </ion-item>

      <ion-item *ngIf="chem.eu">
        EU
        <ion-avatar item-right *ngIf="chem.eu == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.eu == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.eu == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </ion-avatar>
      </ion-item>

      <ion-item *ngIf="chem.china">
        China
        <ion-avatar item-right *ngIf="chem.china == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.china == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.china == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </ion-avatar>
      </ion-item>

      <ion-item *ngIf="chem.australia">
        Australia
        <ion-avatar item-right *ngIf="chem.australia == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.australia == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.australia == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </ion-avatar>
      </ion-item>

      <ion-item *ngIf="chem.codex">
        CODEX
        <ion-avatar item-right *ngIf="chem.codex == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.codex == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </ion-avatar>
        <ion-avatar item-right *ngIf="chem.codex == 'B'">

          <img class="imgSize" src="assets/img/col_red.png">
        </ion-avatar>
      </ion-item>
    </ion-list>

  </div>
  <ion-list-header>이 성분을 포함한 상품
    <span item-right *ngIf="products">총 {{products.length}}개</span> </ion-list-header>
  <ion-list *ngIf="products">
    <ion-item *ngFor="let product of products"
              (click)="toProductDetail(product)"
              class="search-result">
      {{product.name}}
    </ion-item>
  </ion-list>
</ion-content>

