<ion-header>
  <ion-navbar>
    <ion-title>Product Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h2>chems</h2>
  <ion-list *ngIf="chems">
    <ion-item *ngFor="let chem of chems">

      <div style="display: inline-block;">
        {{chem.name}}<br/>
        <span *ngIf="chem.cas">CAS No : {{chem.cas}}</span>
      </div>
      <div class="national" class="national" *ngIf="chem.avg == 'A'">
        <img class="imgSize" src="assets/img/col_green.png">
      </div>
      <div class="national" class="national" *ngIf="chem.avg == 'I'">
        <img class="imgSize" src="assets/img/col_yellow.png">
      </div>
      <div class="national" class="national" *ngIf="chem.avg == 'B'">
        <img class="imgSize" src="assets/img/col_red.png">
      </div>

    </ion-item>

  </ion-list>

</ion-content>

  <!--<ion-content>
    <div style="margin-left: 1em; margin-top: 1em; width: 100%;">
      <img style="vertical-align: middle;" src="assets/img/{{pros.totalSafety}}">
        {{pros.name}}
      <div style="position: absolute; display: inline-block; right: 1em;">
        <img style="vertical-align: middle; visibility: hidden;" src="assets/img/{{pros.totalSafety}}">
        {{pros.boycott}}
      </div>
    </div>
    <h2>&nbsp;제품에 들어간 성분</h2>
    <ion-list>
      <ion-item *ngFor="let chem of chems">
        <div style="display: inline-block;">
          {{chem.KOR}}<br />
          {{chem.ENG}}
        </div>
        <div style="display: inline-block; position: absolute; right: 1em;">
          <img style="vertical-align: middle;" src="assets/img/{{chem.safety}}">
        </div>
      </ion-item>
    </ion-list>
  </ion-content>-->
