<ion-header>
  <ion-navbar>
    <ion-title *ngIf="product">{{product.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!chems">
    검색 결과가 없습니다.
  </div>
  <div id="productImg" *ngIf="product">
    <img src="{{product.thumimg}}"/>
  </div>
  <div id="productProducer" *ngIf="product">
  판매사 : {{product.producer}}
  </div>
  <ion-list *ngIf="chems">
    <ion-list-header>주요 성분</ion-list-header>

    <ion-item-group *ngFor="let chem of chems">
      <ion-item *ngIf="chem.no != null"
                (click)="toChemDetail($event, chem.name)">
        <h3>{{chem.name}}</h3>
        <!--<h6 *ngIf="chem.avg">국제첨가물 등록번호 : {{chem.ins}}</h6>-->

        <ion-avatar item-right *ngIf="chem.avg == 'A'">
          <img class="imgSize" src="assets/img/col_green.png">
        </ion-avatar>
        <ion-avatar item-right class="national" *ngIf="chem.avg == 'I'">
          <img class="imgSize" src="assets/img/col_yellow.png">
        </ion-avatar>
        <ion-avatar item-right class="national" *ngIf="chem.avg == 'B'">
          <img class="imgSize" src="assets/img/col_red.png">
        </ion-avatar>

      </ion-item>

      <ion-item *ngIf="(chem.no != null) == false" (click)="toWiki($event, chem.name)">
        <h3>{{chem.name}}</h3>
        <h6 text-right>Wiki 검색으로 보기</h6>
      </ion-item>

    </ion-item-group>

  </ion-list>

</ion-content>
