page-home {

}

.mainSlide{
  height: 100px;
}

ion-slide{
  font-size: 100px;
}

#logo{
  width: 50%; height: 25%;
  margin: auto;
}

#search-component{
  text-align: center;
}

#search-box{
  width: 45%;
}

.searchBtn{
  height: 30px;
  top: -5px;
}
/*
.chemList{
  margin: auto;
  width: 50%;
  text-decoration: none;
  color: black;

}
.result{

}
.result:hover{
  background-color: skyblue;
  border-radius: 5px;
}
.search-result{
  width: 50%;
  margin: auto;
  font-size: 25px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  cursor: pointer;
  text-align: left !important;
}
.search-result:last-of-type{
  border-bottom: 1px solid #333;
}
*/
html,body {
  /* Extra Styles */
  background: #fff;
  color: #425363;
  font-family: avenir, 'segoe ui', sans-serif;
}

@keyframes move {
	0% {
		background-position: 0 60%, 0% 0%;
	}
	100% {
	  background-position: 0 60%, 0 100%;
	}
}
.container {
  background-color: #becfff;
  /*../assets/img/network.svg*/
  /*http://timteeling.com/dev/img/network.svg*/
  background-image: url('../assets/img/network.svg'), radial-gradient(200% 200px at center, #abff58 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
  background-size: 125%, 10% 50%;
  background-position: 0 60%, 0 50%;
  animation: move 3s linear infinite;

  /* Extra Styles */
  height: 100%;
  /*box-shadow: inset 0 0 25px rgba(0,0,0,.5);*/
  border: 2px solid #263645;
  border-right: 0;
  border-left: 0;
}

/* Extra Styles */
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1em;
}

p {
  text-align: center;
  font-size: .75em;
}

a {
  color: #ff8300;
}
