<ion-header>

  <ion-navbar>
    <ion-title>SearchList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="search-component">
  <input #searchBox id="search-box" (keydown.enter)="search(searchBox.value)"  />
  <button ion-button class="searchBtn" (click)="search(searchBox.value)">
    <ion-icon md="md-search"></ion-icon>
  </button>
  </div>

  <ion-item-divider *ngIf="chems.length>0">성분</ion-item-divider>

  <ion-list *ngIf="chems">
    <ion-item *ngFor="let chem of chems" (click)="chemdetail($event, chem.name)" class="search-result" >
      {{chem.name}}
    </ion-item>
  </ion-list>

  <ion-item-divider *ngIf="products.length>0">상품</ion-item-divider>

  <ion-list *ngIf="products">
    <ion-item *ngFor="let product of products" (click)="productdetail($event, product.upc)" class="search-result" >
      {{product.name}}
    </ion-item>
  </ion-list>

</ion-content>
